
      <div class="row">
      <div class="sidebar col-md-3">
        <div id="searchbar">
          Search: <input ng-model="query">
        </div>
        <div id="sortby">
          Sort by:
          <select ng-model="orderProp" ng-init="orderProp = orderOptions[0]" ng-options="option.name for option in orderOptions" ng-change="sort()">
          </select>
        </div>
        <h3>Filters</h3>
        <btn class="btn btn-default" ng-click="removeFilters()">Clear</btn>
        <div id="categories">
          <h4>Categories</h4>
          <div ng-repeat="cat in categories">
            <label>
              <input type="checkbox" ng-model="isCat" ng-change="selectCat(isCat, cat)"> {{cat.title}}
            </label>
          </div>
        </div>
        <div id="tags">
          <h4>Tags</h4>
          <div ng-repeat="tag in allTags">
            <label>
              <input type="checkbox" ng-model="isTag" ng-change="selectTag(isTag, tag)"> {{tag}}
            </label>
          </div>
        </div>
        <div id="tags">
          <h4>Rating</h4>
          <div ng-repeat="rating in ratingOptions">
            <label>
              <input type="checkbox" ng-model="isRating" ng-change="selectRating(isRating, rating)"> {{rating}}
            </label>
          </div>
        </div>
        <div id="Price">
        </div>
      </div>
      <div class="content col-md-9" infinite-scroll='nextPage()' infinite-scroll-disabled='busy || noMoreData'>
        <div class="page-header">
          <h1>Share Recipes</h1>
        </div>
        <a href="/#/create" class="btn btn-primary">Create Recipes</a>
        <a href="/#/createcategory" class="btn btn-primary">Categories</a>
        <div class="row">
          <div class="col-sm-4 col-md-3" ng-repeat="post in posts | filter: query">
            <div class="thumbnail">
              <img src="{{post.img_url}}" style="width: 100%; height:200px;"/>
              <div class="caption">
                <h4><a href="#/posts/{{post._id}}">{{post.title | limitTo:titleLimit}}</a></h4>
                <p>
                <!-- {{post.category}} -->
                  <span class="glyphicon glyphicon-thumbs-up"
                    ng-click="incrementUpvotes(post)"></span>
                    {{post.upvotes}} Likes | 
                  <a href="#/posts/{{post._id}}">{{post.comments.length}} Comments</a>
                  <btn class="btn btn-default" ng-if="!isMyStar(post)"><i class="fa fa-star-o" aria-hidden="true" ng-click="starred(post)"> {{post.starsCount}}</i></btn>
                  <btn class="btn btn-default" ng-if="isMyStar(post)"><i class="fa fa-star" aria-hidden="true" ng-click="unstarred(post)"> {{post.starsCount}}</i></btn>
                </p>
                <p>
                <a href="#" class="btn btn-primary" href="{{post.link}}" role="button">Link</a> 
                <a ui-sref="posts({id:post._id, slug:post.slug})" class="btn btn-primary" role="button">Details</a>
                <btn class="btn btn-primary" ng-click="editPost(post)" ng-show="post.author==currentUser">Edit</btn>
                <btn class="btn btn-primary" ng-click="deletePost(post)" ng-show="post.author==currentUser">Delete</btn>
                <!-- <btn class="btn btn-default" ng-click="toggleStar(post)"><i ng-class="isStarred ? 'fa fa-star' : 'fa fa-star-o'" aria-hidden="true"></i> {{post.stars.length}}</btn> -->
                </p>
              </div>
            </div>
          </div>
          <div ng-hide="posts.length">
            <h2>Sorry, no recipes... </h2>
          </div>
        </div>
        <div ng-show='busy'>Loading data...</div> 
      </div>
      </div>
    