
      <div class="row">
      <div class="sidebar col-md-3">
        <div id="searchbar">
          Search: <input ng-model="query">
        </div>
        <div id="sortby">
          Sort by:
          <select ng-model="orderProp" ng-init="orderProp = orderOptions[0]" ng-options="option.name for option in orderOptions">
          </select>
        </div>
       
        <div id="Tags">
          Tags:
          <div ng-repeat="tag in allTags">
            <label>
              <input type="checkbox" ng-model="tagChecked" ng-change="addRemoveTag(tagChecked, tag)"> {{tag}}
            </label>
          </div>
        </div>
        <div id="Price">
        </div>
      </div>
      <div class="content col-md-9" infinite-scroll='nextPage()' infinite-scroll-disabled='busy || noMoreData'>
        <div class="page-header">
          <h1>Share Recipes</h1>
        </div>
        <a href="/#/create" class="btn btn-primary">Create Recipes</a>
        <a href="/#/createcategory" class="btn btn-primary">Categories</a>
        <div class="row">
          <div class="col-sm-4 col-md-3" ng-repeat="post in posts | orderBy:orderProp.value | filter: query">
            <div class="thumbnail">
              <img src="{{post.img_url}}" style="width: 100%; height:200px;"/>
              <div class="caption">
                <h4><a href="#/posts/{{post._id}}">{{post.title | limitTo:titleLimit}}</a></h4>
                <p>
                {{post.category}}
                  <span class="glyphicon glyphicon-thumbs-up"
                    ng-click="incrementUpvotes(post)"></span>
                    {{post.upvotes}} Likes | 
                  <a href="#/posts/{{post._id}}">{{post.comments.length}} Comments</a>
                </p>
                <p>
                <a href="#" class="btn btn-primary" href="{{post.link}}" role="button">Link</a> 
                <a ui-sref="posts({id:post._id, slug:post.slug})" class="btn btn-primary" role="button">Details</a>
                <btn class="btn btn-primary" ng-click="editPost(post._id)" ng-show="post.author==$scope.currentUser">Edit</btn>
                <btn class="btn btn-primary" ng-click="deletePost(post._id)" ng-show="post.author==$scope.currentUser">Delete</btn>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div ng-show='busy'>Loading data...</div> 
      </div>
      </div>
    