<div class="container" id="question-show-container">
  <div>
    <div>
      <h1>{{question.title}}</h1>
      <span ng-repeat="tag in question.tags">
        <span class="label label-info">
          {{tag.text}}
        </span>
      </span>
    </div>
  </div>
  <hr/>
  {{question.content}}
  &nbsp;
  <h3>Your answer</h3>
  <div ng-hide="isLoggedIn">
    <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can answer.</h3>
  </div>
  <form name="answerForm" ng-submit="submitAnswer()" ng-show="isLoggedIn">
    <textarea rows=10 cols=80 ng-model="newAnswer.content"></textarea>
    <!-- <div text-angular ng-model="newAnswer.content"></div> -->
    <input type="submit" class="btn btn-primary" value="Submit your answer">
  </form>
  <hr/>
  <h3>{{question.answers.length}} Answers</h3>
  <div ng-repeat="answer in question.answers">
    <hr/>
    <div class="answer">
      {{answer.content}}
      <div class="reply" ng-repeat="reply in answer.replies">
        {{reply}}
      </div>
      <form name="replyForm" ng-submit="submitReply(answer)" ng-show="isLoggedIn">
        <textarea rows=1 cols=80 ng-model="answer.reply"></textarea>
        <!-- <div text-angular ng-model="newAnswer.content"></div> -->
        <input type="submit" class="btn btn-primary" value="Submit your reply">
      </form>
    </div>
    <hr/>
  </div>
</div>