/* Color Scheme 
* blue: #1876B1;
*
*/

/* Reset - EricMeyer */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Ends Reset - EricMeyer */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/*
* Side-bar 
*/
.sidebar {

}
.filter-hd {
	font-size: 1.3em;
	text-transform: uppercase;
}
.filter-item {
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 20px;
	padding-top: 10px;
}
.filter-item .filter-item-hd {
	font-size: 1.2 em;
	text-transform: uppercase;
	margin: 10px 0 15px;
}
.filter-item label {
	width: 100%;
}
.filter-item label span {
	width: 100%;
	display: block;
	padding: 4px 0;
}
.filter-item label:hover {
	cursor: pointer;
	color: #1876B1;	
	background-color: #e0e0e0;
}
.filter-item label:focus,
.filter-item label:active {
	background-color: #e0e0e0;	
}
.filter-item label input{
	display: none;
}
.filter-item label input:checked + span{
	background-color: #e0e0e0;	
}

/*
* Content
*/

.page-header {
}
.content-nav-wrapper {
	margin-bottom: 10px;
}
.ta-editor {
	min-height: 300px;
	height: auto;
	overflow: auto;
	font-family: inherit;
	font-size: 100%;
}